.header {
    width: 100%;
    height: 10vh;
    background-color: #F2F6F9;
    border-bottom: #1010113d 5px solid;


}

.wrap{

    width: 50vw;
    height: 85vh;
    border-right: 3px solid;
    position: absolute;
    padding-right: 1vw;

}

#laman{
    text-align: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#laman tbody tr td button{
    font-size: 10px;
 
}
/* time */

.timer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 10px;
    right: 80px;
    text-align: left;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 15vw;
    display: flex;
    justify-content: space-around;

}

#time,
#date {
    font-size: 1rem;
    margin-bottom: 5px;
}

#time {
    font-weight: bold;
}


/* cart layout */
.cart{
    position: absolute;
    margin-left: 51vw;
    margin-top: .5rem;
    width: 40vw;
    height: 49vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 1vw;
    border-bottom: 2px solid black;
}
#laman_cart{
    text-align: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
div.dt-container div.dt-search input {
    margin-left: 1rem;
    width: 22vw;
    margin-right: 1vw;
}

/* Default styles */
.checkout {
    justify-content: center;
    margin-top: 53vh;
    margin-left: 46vw;
    display: flex;
}

/* Media query for smaller screens or 150% zoom */
@media screen and (max-width: 1200px), screen and (min-resolution: 150dpi) {
    .checkout {
        margin-top: 30vh; /* Adjust margin top */
        margin-left: 20vw; /* Adjust margin left */
    }
    .checkout * {
        transform: scale(0.8); /* Adjust the scale factor as needed */
    }
}




 /* #lagyu {
  position: absolute;
  margin-top: 2rem;
  font-size: larger;
 
 } */

 .item-map{
    height: 55vh;
    width: 100%;
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-right: 1rem;
    font-size: 14px;
    overflow: scroll;
    overflow-x: hidden;
 }



 /* side bar */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: #ffffff;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #0D82CA;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 20;
} 


.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}
.sidebar.active {
    
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color:  #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left:90%;
   
}

.sidebar .top .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}
  
.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
    display: none;
}
.sidebar.active p {
    opacity: 1;
    display: block;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    /* width: 90%;
    margin: 0.8rem auto;
    line-height: 50px; */
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #12171e;

} 
.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 85px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(22, 13, 75, 0.472);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 50;
    opacity: 0;
    background-color: #0e7594;
    color: #fff;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.main-content{
    position: absolute;
    background-color: #fff;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding-left: 1rem;
   
}
.sidebar #uls{
    padding-left: 0%;

}