.header {
    width: 100%;
    height: 10vh;
    background-color: #F2F6F9;
    border-bottom: #1010113d 5px solid;


}
/* 
.sircing input{
    height: 5vh;
    width: 40vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;

}
.sircing{

    margin-top: 5vh;
    position: absolute;
}
.sircing button{
    height: 40px;
    width: 90px;
    background-color: darkgreen;
    color: white;   
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
} */

.wrap{
    width: 45vw;
    height: 20vh;

}
table .buntuk{
    background-color: rgb(165, 245, 245);
   
}
#laman{
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#laman tbody tr td button{
    font-size: 10px;
 
}


/* cart layout */
.cart{
    position: absolute;
    margin-left: 46vw;
    margin-top: 12vh;
    width: 40vw;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
}
#laman_cart{
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* .cart table thead{
    color: aqua;
} */






/* .scroll-bg{
    background-color: #203a6900;
    width: 50vw;
    padding: 30px;
    border-radius: 30px;
    position: absolute;

}
.scroll-div{
    overflow: hidden;
    
    height: 50vh;
    background-color: rgba(250, 235, 215, 0.131);
}
.scroll-obj{
    color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;

} */

/* 
.items {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    position: absolute;
    margin-top: 13vh;
    text-align: center;
    
    
}
.items td, .items th{
    border: 1px solid #ddd;
    padding: 8px;
}

.items tr:nth-child(even) {
    background-color: #f2f2f2;
}

.items tr:hover {
    background-color: #ddd;
}
.items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #328ab9;
    color: white;
    text-align: center;
  
  } */


/*   
.renganproduktu {
    justify-items: center;
    margin: 100px;
    margin-left: 1vw;
    text-align: center;
    font-size: larger;
  
} */