@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0D82CA;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 230px;
    min-width: 230px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
}

.icon-logo {
    display: flex;
    align-items: center;
    text-align: center; 
    margin-top: auto; 
    margin-bottom: auto; 
    margin-right: 5px;
    margin-left: 8px;
}

.icon-logo img {
    width: 50px; 
    height: auto; 
    display: inline-block; 
    border-radius: 50px; 
    color: #FFF;
}

.brand-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; 
}

.brand-name {
    color: #FFF;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.icon-logo .brand-info {
    display: none; 
}

#sidebar.expand .icon-logo .brand-info {
    display: flex; 
    margin-left: 15px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0d82ca;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

.col-md-4.mb-3 {
    margin-bottom: 20px;
  }
  
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

form button {
    margin-top: 10px;
  }
  
table,
th,
tr,
td {
      border: color #ddd;
  }

  .card {
    width: 100%; 
    max-width: 350px; 
    height: 350px; 
    padding-top: 40px; 
    margin: 40px;
    transition: all 0.35s ease-in-out;
    
}

.card-body {
    text-align: center;
   
}

.card-title {
    font-size: 1.25rem; 
    margin-top: 1.5rem; 
}
a.card-link{
    text-decoration: none;
}

.input-group-addon{
    background-color: #fcfcfc;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    width: 50px;
    text-align: center; 
    padding-top: 5px;
  }

  .panel-default >.panel-heading{
    background-color: #f5f5f5;
    border-bottom: 2px solid #3498DB;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 15px;
  }.panel-box{
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
  }.panel-value{
    width: 60%;
  }.panel-icon{
    padding: 30px;
    width: 40%;
    border-radius: 0;
  }.panel-icon{
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
  }.panel-value{
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
  }.panel-value h2{
    margin-top: 30px;
  }
  .panel-icon i{
    line-height:65px;
    font-size: 40px;
    color: #fff;
  }